@using Microsoft.AspNetCore.Http
@model MyMessagePortal.ViewModels.MessageViewModel

@if (@Model.Channel != null)
{
    <h2>Dodawania wiadomości do kanału: @Model.Channel.Name</h2>
}
else
{
    <h2>Dodawania wiadomości</h2>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" asp-controller="Message" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (@Model.ChannelId > 0)
            {
                <div class="form-group">
                    <input type="hidden" asp-for="ChannelId" class="form-control" />
                </div>
            }
            else
            {
                <label class="control-label">Wybierz kanał:</label>
                <select asp-for="ChannelId" asp-items="@(new SelectList(ViewBag.ChannelsList, "Id", "Name"))" class="form-control"></select>
            }

            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CreatedById" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (ViewBag.ReturnUrl == null)
    {
        <a asp-action="Index" asp-controller="Message" class="btn btn-default">Anuluj</a>
    }
    else
    {
        <a href="@ViewBag.ReturnUrl" class="btn btn-default">Anuluj</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
